<!DOCTYPE html>
<html>
<head>
    <title>Генератор паролів</title>
</head>
<body>
    <h1>Генератор паролів</h1>
    <form method="POST">
        <label for="length">Довжина паролю:</label>
        <input type="number" id="length" name="length" value="8" min="4" max="32"><br><br>
        <input type="checkbox" id="include_digits" name="include_digits" value="1">
        <label for="include_digits">Додавати цифри</label><br>
        <input type="checkbox" id="include_uppercase" name="include_uppercase" value="1">
        <label for="include_uppercase">Додавати великі літери</label><br>
        <input type="checkbox" id="include_special" name="include_special" value="1">
        <label for="include_special">Додавати спеціальні символи (!@#%&?*)</label><br><br>
        <button type="submit">Створити пароль</button>
    </form>
    {% if password %}
    <h2>Згенерований пароль:</h2>
    <p>{{ password }}</p>
    {% endif %}
    <a href="/">Назад до меню</a>
</body>
</html>
